
.container{
  display: flex;
  position: relative;
  justify-content: center;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 2rem;
  background-color: #000;
  color: #0f0;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px #0f0;
  font-family: 'Courier New', Courier, monospace;
}
